*
{
   margin: 0px;
   padding: 0px;
   font-family: century Gothic;
   }
   
  header {
	background-image: url(../2.jpg);
	height: 100vh;
	background-size: cover;
	background-position: center;
}

ul{
	float: right;
	list-style-type: none;
    margin-top: 25px;
}

ul li{
	display: inline-block;
}

ul li a{
	text-decoration: none;
	color: #000;
	padding: 5px 20px;
	border: 1px solid #000;
    transition: 0.6s ease;
	}
	ul li a:hover{
		background-color: #fff;
		color: #000;
	}

.title{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}
.title h1{
	color: #000;
	font-size: 70px;
}

ul li ul li{
	display: none;
}